* {
  box-sizing: border-box;
}
[class*="col"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
body {
  background-image: url(../images/index.jpg);
  background: green;
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  text-align: center;
  font-size: 5em;
  color: indianred
}
h2 {
  text-align: center;
  font-size: 3em;
  color: orangered
}
h3 {
  text-align: center;
  font-size: 2em;
  color: darkred
}
.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5%;
  grid-auto-rows: auto;
}
.one {
  grid-column: 2;
  grid-row: 1;
}
.two {
  grid-column: 1;
  grid-row: 1;
}
.three {
  grid-column: 1;
  grid-row:1;
}
#recipe-author {
  font-style: italic;
  color: red

}
#kringle-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
p {
  color: black;
  font-size: 1.5em;
}

ul {
  font-size: 1.5em;
}
input, label, legend {
  font-size: 1.5em;
  color: black
}
.wow {
  width: 100px;
}
